<!-- 底部 -->
<footer class="footer">
    <span class="footer__copyright">
        &copy; <%-  date(Date.now(), 'YYYY') %> <%= config.author || config.title %><% if (theme.site_license) { %> - 本站点采用<%- theme.site_license %><% } %>
    </span>
    <span class="footer__copyright">
        由 <a href="http://hexo.io">Hexo</a> 驱动. 主题 <a href="https://github.com/monniya/hexo-theme-new-vno ">new-vno</a> 源于 <a href="http://github.com/onevcat/vno" target="_blank">onevcat</a>
    </span>
  <% if (page.mathjax){ %>
        <%- partial('_partial/mathjax') %>
 <% } %>  
</footer>

